server {
    listen 80;
    server_name _;
    location / {
        proxy_pass http://127.0.0.1:{{ docker_host_port }};
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}

